@page
@model Altairis.ReP.Web.Pages.My.NewsModel
@{
    this.ViewBag.Title = UI.My_News_Title;
}

<p visible="!this.Model.Messages.Any()" class="infobox">
    <i class="fa-solid fa-newspaper fa-2x fa-pull-left"></i>
    @UI.My_News_NoNews
</p>

@foreach (var item in this.Model.Messages) {
    <h2>@item.Title</h2>
    <div class="r em"><time value="@item.Date"></time></div>
    <markdown text="@item.Text"></markdown>
}