* {
  box-sizing: border-box; }

html {
  background-color: #5e2f83;
  color: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }
  html body {
    max-width: 1000px;
    background-color: #fff;
    color: #000;
    margin: 20px auto;
    padding: 20px; }
    html body nav input[type=checkbox] {
      position: absolute;
      left: -9999em; }
      html body nav input[type=checkbox] ~ label {
        display: none; }
    html body nav ul {
      list-style: none;
      text-align: left;
      margin: 0;
      padding: 0.5em;
      background: #000; }
      html body nav ul li {
        display: inline; }
      html body nav ul a {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #fff; }
        html body nav ul a:active, html body nav ul a:focus, html body nav ul a:hover {
          color: #fff;
          background: #5e2f83; }
    @media (max-width: 40em) {
      html body nav ul {
        display: none;
        overflow: hidden; }
        html body nav ul li {
          text-align: left; }
        html body nav ul a {
          display: block; }
      html body nav input[type=checkbox] ~ label {
        padding: 0.5em;
        text-align: left;
        background: #000;
        color: #fff; }
        html body nav input[type=checkbox] ~ label span {
          padding: 0.5em;
          display: block; }
          html body nav input[type=checkbox] ~ label span:active, html body nav input[type=checkbox] ~ label span:focus, html body nav input[type=checkbox] ~ label span:hover {
            background: #5e2f83;
            color: #fff; }
        html body nav input[type=checkbox] ~ label.open {
          display: block; }
        html body nav input[type=checkbox] ~ label.close {
          display: none; }
      html body nav input[type=checkbox]:checked ~ label {
        margin: 0; }
        html body nav input[type=checkbox]:checked ~ label.open {
          display: none; }
        html body nav input[type=checkbox]:checked ~ label.close {
          display: block; }
      html body nav input[type=checkbox]:checked ~ ul {
        display: block; } }
    html body footer {
      font-size: 80%;
      color: #5e2f83;
      text-align: right;
      border-top: 2px solid #5e2f83;
      margin-top: 20px;
      padding-top: 10px; }
