* {
  box-sizing: border-box; }

html {
  background-color: #5e2f83;
  color: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }
  html body {
    max-width: 1000px;
    background-color: #fff;
    color: #000;
    margin: 20px auto;
    padding: 20px; }
    @media (max-width: 600px) {
      html body {
        margin: 0 auto; } }
    html body > header ul.info {
      float: right;
      margin: 0; }
    html body > header a {
      text-decoration: none; }
    html body > nav a:link, html body > nav a:visited {
      color: #fff; }
    html body > nav input[type=checkbox] {
      position: absolute;
      left: -9999em; }
      html body > nav input[type=checkbox] ~ label {
        display: none; }
    html body > nav ul {
      list-style: none;
      text-align: left;
      margin: 0;
      padding: 0.5em;
      background: #000; }
      html body > nav ul li {
        display: inline; }
      html body > nav ul a {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #fff; }
        html body > nav ul a:active, html body > nav ul a:focus, html body > nav ul a:hover {
          color: #fff;
          background: #5e2f83; }
    @media (max-width: 600px) {
      html body > nav ul {
        display: none;
        overflow: hidden; }
        html body > nav ul li {
          text-align: left; }
        html body > nav ul a {
          display: block; }
      html body > nav input[type=checkbox] ~ label {
        padding: 0.5em;
        text-align: left;
        background: #000;
        color: #fff; }
        html body > nav input[type=checkbox] ~ label span {
          padding: 0.5em;
          display: block; }
          html body > nav input[type=checkbox] ~ label span:active, html body > nav input[type=checkbox] ~ label span:focus, html body > nav input[type=checkbox] ~ label span:hover {
            background: #5e2f83;
            color: #fff; }
        html body > nav input[type=checkbox] ~ label.open {
          display: block; }
        html body > nav input[type=checkbox] ~ label.close {
          display: none; }
      html body > nav input[type=checkbox]:checked ~ label {
        margin: 0; }
        html body > nav input[type=checkbox]:checked ~ label.open {
          display: none; }
        html body > nav input[type=checkbox]:checked ~ label.close {
          display: block; }
      html body > nav input[type=checkbox]:checked ~ ul {
        display: block; } }
    html body > footer {
      font-size: 80%;
      color: #5e2f83;
      text-align: right;
      border-top: 2px solid #5e2f83;
      margin-top: 20px;
      padding-top: 10px; }

a:link, a:visited {
  color: #5e2f83; }

a:hover, a:active {
  color: #000; }

.l {
  text-align: left !important; }

.r {
  text-align: right !important; }

.c {
  text-align: center !important; }

strong, .strong {
  font-weight: bold; }

small, .small {
  font-size: 80%; }

em, .em {
  font-style: italic; }

.tag {
  padding: 0 .5ex;
  border-radius: 3px; }

.fl {
  float: left; }

.fr {
  float: right; }

.infobox {
  font-style: italic;
  background-color: rgba(94, 47, 131, 0.1);
  padding: 20px; }
  .infobox i {
    color: #5e2f83; }

form input[type=text], form input[type=password], form input[type=email], form input[type=url], form input .textbox {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  box-sizing: border-box; }
  form input[type=text].input-validation-error, form input[type=password].input-validation-error, form input[type=email].input-validation-error, form input[type=url].input-validation-error, form input .textbox.input-validation-error {
    background-color: #dbc6eb;
    border: 1px solid #5e2f83; }
  form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=url]:focus, form input .textbox:focus {
    border: 1px solid #000; }

form input[type=tel], form input[type=number], form input[type=date], form input[type=time], form input.short {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  box-sizing: border-box;
  max-width: 10em; }
  form input[type=tel].input-validation-error, form input[type=number].input-validation-error, form input[type=date].input-validation-error, form input[type=time].input-validation-error, form input.short.input-validation-error {
    background-color: #dbc6eb;
    border: 1px solid #5e2f83; }
  form input[type=tel]:focus, form input[type=number]:focus, form input[type=date]:focus, form input[type=time]:focus, form input.short:focus {
    border: 1px solid #000; }

form input[type=color] {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 0;
  height: 2.5em;
  max-width: 10em;
  border: none; }
  form input[type=color].input-validation-error {
    background-color: #dbc6eb;
    border: 1px solid #5e2f83; }
  form input[type=color]:focus {
    border: 1px solid #000; }

form input[type=datetime-local] {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  box-sizing: border-box;
  max-width: 15em; }
  form input[type=datetime-local].input-validation-error {
    background-color: #dbc6eb;
    border: 1px solid #5e2f83; }
  form input[type=datetime-local]:focus {
    border: 1px solid #000; }

form input[type=submit], form input[type=button] {
  display: inline-block;
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #000;
  background-color: #5e2f83;
  color: #fff;
  padding: 10px 3ex;
  text-decoration: none;
  cursor: pointer;
  line-height: 100%;
  min-width: 20ex;
  box-sizing: border-box; }
  form input[type=submit]:hover, form input[type=button]:hover {
    color: #fff !important;
    background-color: #000 !important;
    border: 1px solid #5e2f83 !important; }
  form input[type=submit].secondary, form input[type=button].secondary {
    background-color: rgba(94, 47, 131, 0.5); }
  form input[type=submit].tertiary, form input[type=button].tertiary {
    background-color: #fff;
    color: #000;
    float: right; }

form textarea {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  box-sizing: border-box;
  height: 10em;
  min-height: 5em;
  overflow-x: auto;
  overflow-y: scroll;
  resize: vertical; }
  form textarea.input-validation-error {
    background-color: #dbc6eb;
    border: 1px solid #5e2f83; }
  form textarea:focus {
    border: 1px solid #000; }
  form textarea.tall {
    height: 40em; }

form select {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  box-sizing: border-box; }
  form select.input-validation-error {
    background-color: #dbc6eb;
    border: 1px solid #5e2f83; }
  form select:focus {
    border: 1px solid #000; }

form label[for] {
  cursor: pointer; }

form span.description {
  display: block;
  font-size: 80%;
  color: #5e2f83;
  margin-bottom: .5ex; }
  form span.description::before {
    content: '('; }
  form span.description::after {
    content: ')'; }

a.button {
  display: inline-block;
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #000;
  background-color: #5e2f83;
  color: #fff;
  padding: 10px 3ex;
  text-decoration: none;
  cursor: pointer;
  line-height: 100%;
  min-width: 20ex;
  box-sizing: border-box; }
  a.button:hover {
    color: #fff !important;
    background-color: #000 !important;
    border: 1px solid #5e2f83 !important; }
  a.button.secondary {
    background-color: rgba(94, 47, 131, 0.5); }
  a.button.tertiary {
    background-color: #fff;
    color: #000;
    float: right; }

ul.checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block; }
  ul.checkbox-list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block; }
  ul.checkbox-list.vertical li {
    display: block; }

.validation-summary-valid {
  display: none; }

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(94, 47, 131, 0.75); }
  .modal:target {
    visibility: visible;
    opacity: 1; }
  .modal article {
    position: relative;
    min-width: 30%;
    max-width: 50%;
    background-color: #fff;
    text-align: center; }
    .modal article header {
      text-align: left;
      padding: 5px;
      background-color: #000;
      color: #fff;
      font-size: 150%; }
    .modal article p {
      margin: 20px; }
    .modal article footer {
      margin: 20px; }
  .modal form {
    position: relative;
    min-width: 30%;
    max-width: 50%;
    background-color: #fff; }
    .modal form header {
      padding: 5px 20px;
      background-color: #000;
      color: #fff;
      font-size: 150%; }
    .modal form p {
      margin: 20px; }
    .modal form footer {
      margin: 20px; }

table.grid {
  width: 100%;
  border-collapse: collapse; }
  table.grid td, table.grid th {
    padding: 10px;
    text-align: left;
    border-bottom: solid 1px rgba(94, 47, 131, 0.25); }
  table.grid thead th {
    border-bottom: double 3px #5e2f83; }
  table.grid tbody tr.new {
    font-weight: bold;
    font-style: italic; }
  table.grid tbody tr:hover {
    background-color: rgba(94, 47, 131, 0.15) !important; }
  table.grid tbody tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05); }
  table.grid tbody td.buttons {
    white-space: normal;
    text-align: right; }

ul.tasklist {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.tasklist li {
    margin: 0 0 20px 0;
    text-align: left; }
    ul.tasklist li .button {
      min-width: 33%;
      text-align: left;
      padding: 20px; }
      ul.tasklist li .button i {
        margin-right: 10px; }

table.details {
  width: 100%;
  border-collapse: collapse; }
  table.details td, table.details th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border-top: solid 1px rgba(94, 47, 131, 0.25); }
  table.details tbody tr:hover {
    background-color: rgba(94, 47, 131, 0.15) !important; }

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #000; }
  .calendar > header {
    display: flex;
    flex-direction: row; }
    .calendar > header > div {
      flex: 1;
      border: 1px solid #000;
      text-align: center;
      padding: 1ex;
      font-weight: bold;
      background-color: rgba(94, 47, 131, 0.75);
      color: #fff; }
  .calendar section.week {
    display: flex;
    flex-direction: row; }
    .calendar section.week > article {
      flex: 1;
      border: 1px solid #000;
      min-height: 10em; }
      .calendar section.week > article header {
        margin: 0.5ex;
        padding: 1ex;
        text-align: right; }
      .calendar section.week > article.today header {
        color: #5e2f83;
        font-weight: bold; }
      .calendar section.week > article.weekend {
        background-color: rgba(94, 47, 131, 0.1); }
      .calendar section.week > article ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .calendar section.week > article ul li {
          display: block;
          margin: 0.25ex;
          padding: 0.5ex;
          background-color: rgba(94, 47, 131, 0.5); }
          .calendar section.week > article ul li.system {
            border: 2px solid #000; }
          .calendar section.week > article ul li:target {
            font-weight: bold; }
          .calendar section.week > article ul li time {
            font-size: 80%; }
            .calendar section.week > article ul li time.begin::after {
              content: '\2026'; }
            .calendar section.week > article ul li time.end::before {
              content: '\2026'; }
          .calendar section.week > article ul li span.middle::before {
            content: '\2026\2026'; }
          .calendar section.week > article ul li a, .calendar section.week > article ul li span {
            display: block; }
