@import "_vars.scss";

@mixin button {
    display: inline-block;
    text-align: center;
    font-family: $FontFamily;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid $Black;
    background-color: $Accent;
    color: $White;
    padding: ($Padding / 2) 3ex;
    text-decoration: none;
    cursor: pointer;
    line-height: 100%;
    min-width: 20ex;
    box-sizing: border-box;

    &:hover {
        color: $White !important;
        background-color: $Black !important;
        border: 1px solid $Accent !important;
    }

    &.secondary {
        background-color: rgba($Accent, .5);
    }

    &.tertiary {
        background-color: $White;
        color: $Black;
        float: right;
    }
}

@mixin textbox {
    font-family: $FontFamily;
    font-size: 14px;
    padding: ($Padding / 4);
    width: 100%;
    background-color: $White;
    border: 1px solid lighten($Black, 50);
    box-sizing: border-box;

    &.input-validation-error {
        background-color: lighten($Accent, 50);
        border: 1px solid $Accent;
    }

    &:focus {
        border: 1px solid $Black;
    }
}

form {
    input {
        &[type=text], &[type=password], &[type=email], &[type=url], .textbox {
            @include textbox;
        }

        &[type=tel], &[type=number], &[type=date], &[type=time], &.short {
            @include textbox;
            max-width: 10em;
        }

        &[type=color] {
            @include textbox;
            padding: 0;
            height: 2.5em;
            max-width: 10em;
            border: none;
        }

        &[type=datetime-local] {
            @include textbox;
            max-width: 15em;
        }

        &[type=submit], &[type=button] {
            @include button;
        }
    }

    textarea {
        @include textbox;
        height: 10em;
        min-height: 5em;
        overflow-x: auto;
        overflow-y: scroll;
        resize: vertical;

        &.tall {
            height: 40em;
        }
    }

    select {
        @include textbox;
    }

    label[for] {
        cursor: pointer;
    }

    span.description {
        display: block;
        font-size: 80%;
        color: $Accent;
        margin-bottom: .5ex;

        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }
}

a.button {
    @include button;
}

ul.checkbox-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }

    &.vertical li {
        display: block;
    }
}

.validation-summary-valid {
    display: none;
}
