@page "{userId:int:min(1)}"
@model Altairis.FutLabIS.Web.Pages.Login.ResetPasswordModel
@{ this.ViewBag.Title = UI.Login_ResetPassword_Title; }
<form method="post">
    @Html.EditorFor(m => this.Model.Input)
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
    </footer>
</form>