@page "{statusCode}"
@{ ViewBag.Title = "HTTP Error " + this.RouteData.Values["statusCode"]; }
<p>V průběhu zpracování vašeho požadavku došlo k chybě.</p>
<p>There was an error while processing your request.</p>