@page
@{ ViewBag.Title = "HTTP Error 500: Internal server error"; }
<p><strong>[CS]</strong> V průběhu zpracování vašeho požadavku došlo k vnitřní chybě serveru.</p>
<p><strong>[EN]</strong> There was an internal error while processing your request.</p>