@page
@model Altairis.FutLabIS.Web.Pages.My.Settings.PasswordModel
@{ this.ViewBag.Title = UI.My_Settings_Password_Title; }
<form method="post">
    @Html.EditorFor(m => this.Model.Input)
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
        <a asp-page="Index" class="button secondary">@UI._Cancel</a>
    </footer>
</form>