@page
@model Altairis.ReP.Web.Pages.Login.ForgotPasswordModel
@{ this.ViewBag.Title = UI.Login_ForgotPassword_Title; }
<p>@UI.Login_ForgotPassword_Text</p>
<form method="post">
    @Html.EditorFor(m => this.Model.Input)
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
    </footer>
</form>